<!DOCTYPE html>
<html ng-app="quoteBook">

<head>
	<link rel="stylesheet" type="text/css" href="styles/normalize.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<title>Quote Book</title>
</head>

<body ng-controller="mainCtrl">
	<div class='btn btn-default'>
		<div class="">
			<button class="button" ng-click="addQuote()">Add Quote</button>
		</div>
		<div class="">
			<button class="button" ng-click="removeQuote()">Remove Quote</button>
		</div>
		<div class="">
			<button class="button" ng-click="">Filter Quotes</button>
		</div>
	</div>
	<br/>
	<div class='quotes' ng-repeat='quote in quotes'>
		<ul>
			<h1>Quote List</h1>
			<h3>{{quote.text}}</h3>
			<p>by: {{quote.author}}</p>
		</ul>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/dataService.js"></script>
	<script type="text/javascript" src="js/mainCtrl.js"></script>
</body>
</html>