.button {
	display: inline-block;
	float: left;
	height: 30px;
	width: 175px;
	border-radius: 5px;

}

.add-text {
	border-radius: 4px;
	background: #666;
	color: #fff;
}

body {
	background: #26353B;
	color: #EF3E2F;
}

.panel-default {
	background: #0e1416;
}